.CounterCard {
    margin: 6px 0px;
}

.CounterCard__label {
    height: 189;
}

.CounterCard__cover {
    border-radius: 10px 10px 0px 0px;
    height: 117px;
    width: 100%;
}

.CounterCard__text {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.CounterCard__row {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.CounterCard__button {
    display: none;
}

.Button__join {
    margin-top: 9px;
    background-color: #EBF7EB;
    color:  #4bb34b;
}